*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    text-align: center;
}

.animated-text{
    font-size: 44px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "jonyurisoon";
    color: #03bcf4;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid #fff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "jonyurisoon";
    }
  
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

h2
{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    ;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4
    }
}

ul{
    display: flex;
  }
  ul li{
    position: relative;
    display: block;
    color: #000000;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #fff;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
  }
  ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  ul li:nth-child(1):before{
    background: #4267B2;
  }
  ul li:nth-child(2):before{
    background: #1DA1F2;
  }
  ul li:nth-child(3):before{
    background: #E1306C;
  }
  ul li:nth-child(4):before{
    background: #2867B2;
  }

  ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
  }
  ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267B2;
  }
  ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #1DA1F2;
  }
  ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px #E1306C;
  }
  ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px #2867B2;
  }
 
  ul li:nth-child(1):hover{
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
  }
  ul li:nth-child(2):hover{
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
  }
  ul li:nth-child(3):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
  }
  ul li:nth-child(4):hover{
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
    text-shadow: 0 0 15px #2867B2;
  }
 
